body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #357c28; /* Verde oscuro */
    color: #fff;
    width: 250px; 
    height: 100vh; 
    padding: 20px;
    overflow-y: auto; 
    position: fixed; 
    top: 0;
    left: 0;
   
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.sidebar::-webkit-scrollbar {
    display: none; 
}

.header {
    border-bottom: 1px solid #2a5d1e; 
    padding: 10px;
    background-color: #357c28;
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.logo {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.notification-btn {
    color: #fff;
}

.menu-toggle {
    color: #fff;
}

.search-form {
    flex-grow: 1;
    margin-right: 20px;
}

.search-icon {
    margin-left: -30px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.user-menu {
    position: relative;
}

.user-btn {
    color: #fff;
}

.user-menu-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.user-menu:hover .user-menu-content {
    display: block;
}

.user-menu-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.user-menu-item:hover {
    background-color: #94dd81; 
}

.user-menu-label {
    font-weight: bold;
}

.user-menu-separator {
    border-top: 1px solid #ddd;
    margin: 5px 0;
}

.collapsible {
    margin-bottom: 20px;
}

.collapsible-trigger {
    color: #fff;
    text-decoration: none;
    background-color: #357c28; 
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.collapsible-content {
    display: none;
    margin-top: 10px;
    overflow-y: auto; 
    max-height: 400px; 
}

.collapsible-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #559d46; 
    border-radius: 5px;
    margin-bottom: 5px;
}

.collapsible-link:hover {
    background-color: #357c28; 
}

.submenu {
    margin-top: 10px;
}

.table-container {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #357c28; 
    color: #fff;
}

.table td {
    background-color: #fff;
}

.table tr:nth-child(even) td {
    background-color: #e9f5ec; 
}

.nav-link {
    color: #fff;
}

.nav-link.active, .nav-link:hover {
    background-color: #559d46; 
    text-decoration: none;
}

.nav-link svg {
    margin-right: 10px;
}

.user-btn img {
    border-radius: 50%;
}

.user-btn, .notification-btn, .menu-toggle {
    color: #fff;
}

.user-menu-content {
    background-color: #fff;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1; 
}
